*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

@keyframes animacaresultado{
    from{font-size: 30px;}
    to{font-size: 55px;}
}

.container{
    width: 500px;
    height: 1000px;
    background-color: gray;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    line-height: 50px;
    border-radius: 20px;
}

h1{
    text-shadow: 5px 5px 10px gray;
}

.container p:last-child{
    font-size: 30px;
    animation-name: animacaresultado;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-top: 20px;
}



.valores #btn{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: none;
    outline: none;
    width: 25%;
    letter-spacing: 2px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

#btn:hover{ 
    transform: scale(1.2);
    background-color: black;
    color: white;
}


.valores p{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.valores p:hover{
    color: rgb(78, 231, 78);
}


#a, #b, #c{
    padding: 5px;
    width: 100px;
    outline: none;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    transition: 0.7s;
    text-align: center;
    border-radius: 5px;
}

#a, #b, #c:focus{
    color: red;
}

#a:hover, #b:hover, #c:hover{
    transform: scale(1.2);
}

h3{
    font-size: 25px;
    color: rgb(36, 197, 36);
}
